.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 2rem;
}

input {
  font-size: 1.5rem;
  padding: 0.5rem;
}

#name {
  background-color: #CAD2C5;
  border-radius: 0.5rem;
  border: 2px solid #354F52;
  margin: 0 0.5rem 0 1rem;
}

#name:focus {
  outline: none;
}

#submitBtn {
  width: 4rem;
  background-color: #CAD2C5;
  color: #354F52;
  border-radius: 0.5rem;
  border: 2px solid #354F52;
  transition: ease-in-out 0.3s;
}

#submitBtn:hover {
  background-color: #354F52;
  color: #CAD2C5;
  cursor: pointer;
}

#submitBtn:disabled {
  background-color: #CAD2C5;
  color: grey;
  cursor: not-allowed;
}