#weekdayAndTime {
  color: #354F52;
}

#greetedName {
  animation: bounce 1000ms infinite alternate;
  display: inline-block;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1.5rem);
  }
}